@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --padding-container: 100px 0;
  --color-title: #001A49;

}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #FFFF;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/computer.jpg');
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

/*Nav*/

.nav {
  --padding-container: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-title {
  font-weight: 300;
}

.nav-link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav-items {
  list-style: none;
}

.nav-links {
  color: #FFFF;
  text-decoration: none;
}

.nav-menu {
  margin-left: auto;
  cursor: pointer;
  display: none;
}

.nav-img {
  display: block;
  width: 30px;
}

.nav-close {
  display: var(--show, none);
}

/*Hero Container*/

.hero-container {
  max-width: 800px;
  --padding-container: 0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
}

.hero-paragraph {
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  background-color: #2091F9;
  justify-self: center;
  color: #FFFF;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}

/*About*/

.about {
  text-align: center;
}

.subtitle {
  color: var(--color-title);
  font-size: 2rem;
  margin-bottom: 25px;
}

.about-paragraph {
  line-height: 1.7;
}

.about-main {
  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about-icons {
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
}

.about-icon {
  width: 40px;
}

/*Knowledge*/

.knowledge {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

.knowledge-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}

.knowledge-picture {
  max-width: 500px;
}

.knowledge-paragraph {
  line-height: 1.7;
  margin-bottom: 15px;
}

.knowledge-img {
  width: 100%;
  display: block;
}

/*Price*/

.price {
  text-align: center;
}

.price-table {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-evenly;
  align-items: center;
}

.price-element {
  background-color: #e5e5f7;
  text-align: center;
  border-radius: 10px;
  width: 330px;
  padding: 40px;
  --color-plan: #696871;
  --color-price: #1d293f;
  --bg-cta: #fff;
  --color-cta: #5454d4;
  --color-items: #696871;
}

.price-element--best {
  width: 370px;
  padding: 60px 40px;
  background-color: #FF7143;
  --color-plan: rgb(255 255 255 / 75%);
  --color-price: #fff;
  --bg-cta: #9F3919;
  --color-cta: #fff;
  --color-items: #fff;
}

.price-name {
  color: var(--color-plan);
  margin-bottom: 15px;
  font-weight: 300;
}

.price-price {
  font-size: 2.5rem;
  color: var(--color-price);
}

.price-items {
  margin-top: 35px;
  display: grid;
  gap: 1em;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 50px;
  color: var(--color-items);
}

.price-cta {
  display: block;
  padding: 20px 0;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--bg-cta);
  font-weight: 600;
  color: var(--color-cta);
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/*Testimony*/

.testimony {
  background-color: #e5e5f7;
}

.testimony-container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}

.testimony-body {
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}

.testimony-body--show {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.testimony-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.testimony-texts {
  max-width: 700px;
}

.testimony-course {
  background-color: royalblue;
  color: #fff;
  display: inline-block;
  padding: 5px;
}

.testimony-arrow {
  width: 90%;
  cursor: pointer;
}

/*Questions*/

.questions {
  text-align: center;
}

.questions-container {
  display: grid;
  gap: 2em;
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions-padding {
  padding: 0;
  transition: padding .3s;
  border: 1px solid #5454d4;
  border-radius: 6px;
}

.questions-padding--add {
  padding-bottom: 30px;
}

.questions-answer {
  padding: 0 30px 0;
  overflow: hidden;
}

.questions-title {
  text-align: left;
  display: flex;
  font-size: 20px;
  padding: 30px 0 30px;
  cursor: pointer;
  color: var(--color-title);
  justify-content: space-between;
}

.questions-arrow {
  border-radius: 50%;
  background-color: var(--color-title);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform .3s;
}

.questions-arrow--rotate {
  transform: rotate(180deg);
}

.questions-show {
  text-align: left;
  height: 0;
  transition: height .3s;
}

.questions-img {
  display: block;
}

.questions-img {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

/*Footer*/

.footer {
  background-color: #1d293f;
}

.footer-title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
}

.footer-title, .footer-newsletter {
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 60px;
}

.nav--footer {
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
}

.nav-link--footer {
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.footer-inputs {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.footer-input {
  background-color: #fff;
  height: 50px;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
}

.footer-submit {
  margin-left: auto;
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background-color: #2091F9;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.footer-copy {
  --padding-container: 30px 0;
  text-align: center;
  color: #fff;
}

.footer-copyright {
  font-weight: 300;
}

.footer-icons {
  display: inline-flex;
  margin-bottom: 10px;
}

.footer-img {
  width: 30px;
}

/*Media queries*/

@media ( max-width:800px) {
  .nav-menu {
    display: block;
  }

  .nav-link-menu {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav-link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav-close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .about-main {
    gap: 2em;
  }

  .about-icons:last-of-type {
    grid-column: 1/-1;
  }

  .knowledge-container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 3em;
    text-align: center;
  }

  .knowledge-picture {
    grid-row: 1/2;
    justify-self: center;
  }

  .testimony-container {
    grid-template-columns: 30px 1fr 30px;
  }

  .testimony-body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    justify-items: center;
  }

  .testimony-img {
    width: 200px;
    height: 200px;
  }

  .questions-copy {
    width: 100%;
  }

  .footer-container {
    flex-wrap: wrap;
  }

  .nav--footer {
    width: 100%;
    justify-items: center;
  }

  .nav-link--footer {
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
  }

  .footer-form {
    width: 100%;
    justify-content: space-evenly;
  }

  .footer-input {
    flex: 1;
  }
}

@media (max-width:600px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-paragraph {
    font-size: 1re,;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .price-element {
    width: 90%;
  }

  .price-element--best {
    width: 90%;
    padding: 40px;
  }
  .price-price {
    font-size: 2rem;
  }

  .testimony {
    --padding-container: 60px 0;
  }

  .testimony-container {
    grid-template-columns: 28px 1fr 28px;
    gap: .9em;
  }

  .testimony-arrow {
    width: 100%;
  }

  .testimony-course {
    margin-top: 15px;
  }

  .questions-title {
    font-size: 1rem;
  }

  .footer-title {
    justify-self: start;
    margin-bottom: 15px;
  }

  .nav--footer {
    padding-bottom: 60px;
  }

  .nav-link--footer {
    justify-content: space-between;
  }

  .footer-inputs {
    flex-wrap: wrap;
  }

  .footer-input {
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  .footer-submit {
  width: 100%;
  }
}